<!--


<h2>Available Tours</h2>
<ul>
{% for tour in tours %}
    <li>
        <strong>{{ tour.name }}</strong> - ${{ tour.price }} - Duration: {{ tour.duration_days }} days
        <a href="{% url 'booking' tour.id %}">Book</a>
    </li>
{% endfor %}
</ul>
<a href="{% url 'logout' %}">Logout</a>




<h1>Orodha ya Tours</h1>
<ul>
  {% for tour in tours %}
    <li>{{ tour.name }} - {{ tour.price }} USD</li>
  {% empty %}
    <li>Hakuna tours zilizopo.</li>
  {% endfor %}
</ul>
<a href="{% url 'home' %}">Rudi Home</a>

-->